.container {

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: gray;
    align-items: center;
    justify-content: center;

    .loginPage {
        width: 30%;
        border: 2px solid black;
        padding: 20px;

        input {
            width: 100%;
            margin-bottom: 20px;
        }

        h6 {
            font-size: 13px;
            opacity: 0.6;
        }
    }

    .informationPage {
        display: flex;
        display: none;


        .inputPage {

            width: 30%;
            align-self: flex-start;
            flex-wrap: wrap;
            border: 2px solid black;
            padding: 20px;
            margin-left: 50px;

            input {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .informationView {
            display: flex;
            flex-direction: column;
            width: 50%;
            border: 2px solid black;
            margin-left: 100px;
            justify-content: center;

            h1 {
                margin-left: 100px;
                color: black;
            }

            h3 {
                margin: 30px 10px;
            }
        }
    }
}